*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary:#F3F8FF
}
a{
    text-decoration: none;
    display: inline-block;
}

.header{
    background-color: var(--primary);
}

.right-nav{
    list-style: none;
}
#navbarSupportedContent{
    flex-grow: unset;
}
.right-nav a{
    padding: 10px 10px;
}
.login-btn{
    width: 140px;
    background: white;
    text-align: center;
    border-radius: 12px;
    color: black;
    box-shadow:0 0rem 2rem rgba(0,0,0,0.175);
}
.stereo-image{
    width: 100%;
    height: 100%;
    z-index: 1
}
.hero{
    position: relative;
}
.hero::before{
    content: '';
    position: absolute;
    background-image: url('images/left-bottom.png');
    left: -144px;
    bottom: 0;
    display: block;
    width: 524px;
    height: 307px;
}
.hero::after{
    content: '';
    position: absolute;
    background-image: url('images/hero-right.png');
    right: 0px;
    top: 15%;
    display: block;
    width: 730px;
    height: 500px;

}
.hero .heading{
    font-size: 2em;
}
.hero .body{
    font-size: .75em;
}
.hero .content{
    padding-top: 6em;
    width: 80%;
}
.search-field{
    width: 530px;
    height: 70px;
    border-radius: 15px;
    font-size: 24px;
}
.search-field:focus{
    outline: none;
}
.search{
    position: relative;
}
.search-icon{
    position: absolute;
    top: 5px;
    right: -16px;
    border: none;
}




.categories{
    padding: 7em 0px;
}

.cards{
    width: 70%;
}

.card-icon{
    width: 227px;
    height: 206px;
    border-radius: 15px;
}
.card-icon.active{
    background-color: #19472C;
    color: white;
}